<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div><label>Name: </label>{{hero.name}}</div>
  <div><label>Eye Color: </label>{{hero.eye}}</div>
  <div><label>Status: </label>{{hero.alive}}</div>
  <div><label>Number of Appearances: </label>{{hero.appearances}}</div>
  <div><label>First Appeared On: </label>{{hero.firstAppearance}}</div>
  <div><label>Hair Color:</label>{{hero.hair}}</div>
  <div><label>Sex: </label>{{hero.sex}}</div>
  <div><label>Identity type: </label>{{hero.id}}</div>
  <div><label>Alignment: </label>{{hero.align}}</div>
  <div><label>Secret: </label>???</div>
  <button (click)="goBack()">Back</button>
</div>
